@use 'styles/tokens' as tokens;
@use 'styles/mixins/interactions' as interactions;

.skeleton {
  @include interactions.aegis-shimmer;
  border-radius: var(--aegis-radius-md);

  &.circle {
    border-radius: 50%;
  }

  &.card {
    border-radius: var(--aegis-radius-lg);
    min-height: 120px;
  }
}
